<form action='/sessions/new' method='post'>
  <input type='text' name='email' placeholder='Email'>
  <input type='password' name='password' placeholder='Password'>
  <input type='submit' name='Submit'>
</form>
