<h2>Hello there my flashy friend. Please do create an account with us!</h2>

<form action='/users/new' method='post'>
  <label>User Name <input type='text' name='user[name]' placeholder='Name'>             </label>
  <label>Email     <input type='text' name='user[email]' placeholder='Email'>           </label>
  <label>Password  <input type='password' name='user[password]' placeholder='Password'> </label>
  <input type='submit' name='Submit'>
</form>
