<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Fundex!</title>
</head>
<body>
  <%if session[:user_id]%>
  <!-- Having a link next to a button looked weird, so this became a button too -->
  <form action="/rounds" method="get">
    <input type="submit" name="rounds" value="View Previous Rounds">
  </form>
  <!-- Sends an immediate delete request -->
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="logout" value="Logout">
  </form>

  <%else%>
    <a href="/sessions/new">Login</a>

  <%end%>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
